/* 
Responsive Styles
*/

@media (max-width: 734px) {
    p {
        font-size: 1rem;
    }

    .main {
        padding: 5rem;
    }

    .main__title {
        font-size: 1.25rem;
    }

    .main__subtitle {
        font-size: 2.5rem;
    }

    .main__copy-text {
        font-size: 1.65rem;
    }

    .main__description {
        width: 90%;
    }

    section {
        width: 60%;
    }

    .section-design__media-image {
        width: 100%;
        height: auto;
    }

    .section-design__subtitle {
        font-size: 2.5rem;
    }

    .subsection-size__screen-container {
        height: 350px;
        margin: 3.5rem 0 1rem;
    }

    .subsection-size__screen-text {
        font-size: 2.5rem;
    }

    .subsection-size__screen-text span {
        font-size: 1.25rem;
    }

    .subsection-colors {
        display: flex;
        flex-direction: column-reverse;
    }

    .subsection-colors-item.one {
        display: none;
    }
}